#hello
{
  margin-left: auto;
	margin-right: auto;
  font-size: 24px;
  float: left;
	width: 255px;
	height: 35px;
	padding-top: 10px;
}

#menu
{
  float: right;
	width: 255px;
	height: 35px;
	padding-top: 10px;
}

form
{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 50px;
	text-align: center;
	background-color: #666666;
	border-style: solid;
	border-width: 5px;
	border-radius: 15px;
}

input
{
	width: 350px;
	box-sizing: border-box;
	height: 50px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}

input[type=text, type=password]
{
	font-size: 24px;
}

input[type=submit]
{
	background-color: #0081ff;
	color: #ffffff;
	font-size: 20px;
}

.mabtn
{
  margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 10px;
	text-align: center;
  width: 350px;
	box-sizing: border-box;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: #0081ff;
	color: #ffffff;
	font-size: 20px;
}

tbody {
  border: 1px solid #333;
  box-shadow: 8px 8px 8px 8px #444;
}

td {
  padding: 40px 40px;
  font-size: 20px;
}

table
{
  margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
  text-align: left;
}

ol.user_menu
{
  padding: 0px;
  margin: 0px;
  display: block;
}

ol.user_menu:hover
{
  display: block;
  color: #cccccc;
}

ol.user_menu:hover > li
{
  display: block;
}

ol.user_menu > li
{
  display: none;
  list-style-type: none;
}
